.profile-pic {
  width: 350px;
  height: auto;
  margin-left: 20px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.react-typed {
  color: #112a46;
  font-weight: 500;
  font-size: 2rem;
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-text {
  display: flex;
  align-items: center;
}
.main-content-head {
  font-family: "Intel One Mono", monospace;
  color: #112a46;
  font-size: 2.5rem;
}
.main-content-head > span {
  background: linear-gradient(90deg, #8aadd3 0%, #61b7e6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-content-head-h2 {
  font-family: "Intel One Mono", monospace;
  color: #112a46;
  font-size: 2rem;
}
.react-typed-CodeX {
  font-family: "Bitcount Grid Single", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 40px;
}

.connect {
  margin-right: 20px;
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(to right, #08203e, #557c93);
  cursor: pointer;
  transition: 0.5s;
}

.connect > a {
  text-decoration: none;
  color: #fefae0;
  font-family: "Bebas Neue", sans-serif;
}

.resume {
  margin-right: 20px;
  padding: 15px 30px;
  border-radius: 50px;
  border: 2px solid #112a46;
  cursor: pointer;
  transition: 0.5s;
}

.resume > a {
  text-decoration: none;
  color: #112a46;
  font-family: "Bebas Neue", sans-serif;
}

.connect:hover {
  transform: scale(1.15);
}
.resume:hover {
  transform: scale(1.12);
}

@media screen and (max-width: 480px) {
  .profile-pic {
    width: 150px;
    margin-right: 0;
    margin-left: 110px;
  }

  .welcome-text {
    margin-left: 1px;
  }
  .main-content-head {
    font-size: 1.8rem;
    margin-left: 80px;
    width: 100%;
  }
  .main-content-head-h2 {
    font-size: 1.8rem;
    margin-left: 80px;
    width: 100%;
  }

  .buttons {
    margin-left: 75px;
  }

  .connect > a {
    font-size: 1.19rem;
  }
}
