.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}
.CodeX-logo{
  width: 200px;
  height: auto;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 90px;
  font-size: 0.9rem;
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
}

.connect-with-me{
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(to right,#08203e,#557c93);
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.3rem;
}

.connect-with-me > a{
  text-decoration: none;
  color: #fefae0;
  font-family: "Bebas Neue", sans-serif;
}

.connect-with-me:hover{
  transform: scale(1.15);
}

.list-links{
  text-decoration: none;
  color: #112A46;
}

.img-size{
  height: 45px;
  width: 45px;
}

#sidebar-active{
  display: none;
}

.open-sidebar-button , .close-sidebar-button{
  display: none;
}

@media screen and (max-width: 480px){
  nav{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    height: 70%;

    background-color: #e9d557;
    margin: 0;
    box-shadow: -5px 0 5px rgba(0, 0,0,0.25); 
    transition: 0.8s ease-out;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .nav-list{
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .CodeX-logo{
    width: 150px;
    height: auto;
  }

  .list-links{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding-left: 15px;
    justify-content: flex-start;
  }
  .open-sidebar-button , .close-sidebar-button{
    padding: 10px;
    display: block;
  }

  #sidebar-active:checked ~ .navbar{
    right: 0;
  }

  .connect-with-me{
    margin: 20px;
  }
}